<!DOCTYPE html>
<html>
  <head>
    <title>Squirrels</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav-bar" %>

    <% flash.each do |key, value| %>
      <div class="<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
